@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    font-family: "Open Sans", "Lato", Arial, sans-serif;
}

.container {
    width: min(100% - 40px, 1080px);
    margin-inline: auto;
}

img {
    width: 50%;
    height: auto;
    margin-bottom: 8px;
}

h2 {
    margin: 16px 0;
    color: #876F00;
}

h3 {
    color: #055996;
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
    margin: 2px 0 8px 0;
    line-height: 1.4;
}

footer {
    background-color: #055996;
    font-size: 0.8rem;
    color: #fff;
    padding: 8px;
    margin-top: 16px;
}
